version: '2'

services:
  app:
    container_name: democracyos-dev
    build: ../
    command: ["./node_modules/.bin/gulp", "bws"]
    environment:
      - NODE_ENV=development
      - DEBUG=democracyos*,-democracyos:translations*
      - MONGO_URL=mongodb://mongo/development
      - ORGANIZATION_NAME=DemocracyOS Fork Test
      # Add your email here!
      - STAFF=email@example.com
    links:
      - mongo
    ports:
      - 3000:3000
    volumes:
      - ${PWD}/ext:/usr/src/ext
      - /usr/src/ext/node_modules
    tty: true

  mongo:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - ../tmp/db:/data/db
